// Animations

/* KEYFRAMES */

@keyframes scaleZoom {
    /* browser performance best with only 2 different properties max */
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

